# Verbindungstest mit der Oracle Datenbank

Für die Verbindung mit einer Oracle Datenbank muss natürlich ein Oracle Container laufen.
Du kannst mit dem folgenden Befehl einen Container erstellen:

*docker run -d -p 1521:1521 -e ORACLE_PASSWORD=oracle --name oracle21c gvenzl/oracle-xe:21-full*

Das Containerimage gibt es nur für die x86 Architektur.
Für **macOS** auf M1 Prozessoren gibt es [im Kurs Dbi2Sem](https://github.com/schletz/Dbi2Sem/tree/master/01_OracleVM/03_Docker#macos-m1-m2-ger%C3%A4te) eine Anleitung.
Danach muss mit 

```
pip3 install oracledb --upgrade
```

das Python Paket für den Datenbanktreiber installiert werden.

In [1]:
import oracledb       # pip3 install oracledb --upgrade
import sqlalchemy
import pandas as pd

Wir lesen zum Test alle aktiven Oracle User in einen Pandas Dataframe und geben diesen aus:

In [2]:
username = "system"
password = "oracle"
connection_url = f"oracle+oracledb://{username}:{password}@localhost/?service_name=XEPDB1"
engine = sqlalchemy.create_engine(connection_url)
with engine.connect() as conn:
    users = pd.read_sql(
        sqlalchemy.text("SELECT * FROM dba_users WHERE account_status = :status"), 
        conn, params={"status": "OPEN"})
users

,username,user_id,password,account_status,lock_date,expiry_date,default_tablespace,temporary_tablespace,local_temp_tablespace,created,...,common,last_login,oracle_maintained,inherited,default_collation,implicit,all_shard,external_shard,password_change_date,mandatory_profile_violation
0,SYS,0,None,OPEN,None,NaT,SYSTEM,TEMP,TEMP,2021-08-17 23:05:41,...,YES,NaT,Y,YES,USING_NLS_COMP,NO,NO,NO,NaT,NO
1,SYSTEM,9,None,OPEN,None,NaT,SYSTEM,TEMP,TEMP,2021-08-17 23:05:42,...,YES,2023-05-04 10:56:22,Y,YES,USING_NLS_COMP,NO,NO,NO,NaT,NO
2,PDBADMIN,108,None,OPEN,None,2023-09-08 22:20:10,USERS,TEMP,TEMP,2023-03-12 22:20:10,...,NO,NaT,N,NO,USING_NLS_COMP,NO,NO,NO,2023-03-12 22:20:10,NO
3,SYSRAC,2147483620,None,OPEN,None,NaT,USERS,TEMP,TEMP,2021-08-17 23:05:42,...,YES,NaT,Y,YES,USING_NLS_COMP,NO,NO,NO,NaT,NO
4,OPS$ORACLE,109,EXTERNAL,OPEN,None,NaT,USERS,TEMP,TEMP,2023-03-12 22:21:05,...,YES,NaT,N,YES,USING_NLS_COMP,NO,NO,NO,NaT,NO